<h1><%= title %></h1>

<form method='POST' action=''>
  <div class="form-group">
    <input id="categoryName" class="form-control" type='hidden' name='categoryName' required='true' value="<%= category.name %>">
  </div>
  <button type='submit'>Delete</button>
</form>